* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
  background-color: #ECEFF1;
}

.accordion {
  height: auto;
  transition: 0.6s;
}

.article {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /*margin-bottom: 2%;*/
  text-align: center;
  padding: 2em 0;
}

.project__Container:not(:last-child) {
  border-bottom: solid black 1px;
}

.seeMore {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  margin-top: 2%;
  margin-bottom: 10%;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 16px;
}

.hidden {
  overflow: hidden;
  height: 52px;
}

.mediumButton {
  height: 100px;
  width: 100px;
  border: solid black 2px;
  border-radius: 100px;
  display: inline-block;
  position: fixed;
  margin-top: 2%;
  margin-left: 4%;
}

.gitHubButton {
  height: 100px;
  width: 100px;
  border: solid black 2px;
  border-radius: 100px;
  display: inline-block;
  position: fixed;
  margin-top: 150px;
  margin-left: 4%;
}

.blog-Title {
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
  font-size: 40px;
}

.blog-Posts {
  font-size: 24px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 5%;
}

.blogWrapper {
  padding: 6px;
  background-color: rgb(207, 216, 220);
  width: 50%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  /*border: solid grey 1px;*/
}

.blog-Medium {
  text-align: center;
}

.contact {
  color: white;
  font-family: Impact, Charcoal, sans-serif;
  margin-bottom: 3%;
}

.email {
  font-size: 24px;
  color: white;
  margin-top: 3%;
}

.footer {
  bottom: 0;
  height: 100px;
  margin-bottom: 0;
  width: 100%;
  border-top: solid blue 2px;
  border-bottom: solid blue 2px;
  background-image: url("http://kingofwallpapers.com/code/code-010.jpg");
  margin-top: 5%;
}

.footer-Wrapper {
  margin-left: 2%;
  margin-top: 0;
  vertical-align: bottom;
  display: inline-block;
}

.header {
  background-image: url("http://kingofwallpapers.com/code/code-010.jpg");
  height: 300px;
  border-top: solid blue 2px;
  border-bottom: solid blue 2px;
}

.header-Title {
  color: white;
  font-family: Impact, Charcoal, sans-serif;
  margin: 0;
  font-size: 60px;
  line-height: 200px;
  width:  100%;
  height: 150px;
  text-align: center;
}

.nav {
  height: 60px;
}

.nav__div--Buttons {
  margin-left: 0;
  width: 100%;
  text-align: center;
}

.nav-Buttons {
  font-family: bold, charcoal, sans-serif;
  color: white;
  display: inline-block;
  text-align: center;
  border-right: solid orange 1px;
  width: 120px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  margin-top: 115px;
}

.nav-Home {
  border-left: solid orange 1px;
}

.home-Bio {
  display: inline-block;
}

.home-Bio-Wrapper {
  width: 60%;
  margin-left: 8%;
  font-size: 18px;
  text-align: center;
  margin-bottom: 5%;
  display: inline-block;
  margin-top: 3%;
}

.home-City {
  display: inline-block;
  margin-left: 3%;
  margin-bottom: 1%;
  margin-top: 0;
}

.home-Info {
  display: inline-block;
  width: 12%;
  height: 125px;
  float: left;
}

.home-Github {
  display: inline-block;
  margin-left: 3%;
}

.home-Name {
  display: inline-block;
  margin-top: 8%;
  margin-left: 3%;
  margin-bottom: 1%;
}

.project__Section {
  padding-bottom: 10em;
}

.projects-Description {
  text-align: center;
  /*display: inline-block;*/
  width: 60%;
  font-size: 18px;
  margin-left: 19%;
  margin-bottom: 1%;
}

.projects__page--Title {
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
  font-size: 40px;
}

.project-Title {
  color: blue;
  /*text-align: center;*/
  /*display: block;*/
  font-size: 24px;
}

.preview-Image {
  /*display: block;*/
  height: 300px;
  /*margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;*/
  transition: height 2s;
}

.preview-Clicked-Text {
  height: 40px;
  margin-bottom: 1%;
  color: #4CAF50;
  margin-top: 0;
  text-align: center;
  font-size: 24px;
}

.preview-Close-Button {
  border: none;
  color: grey;
  height: 30px;
  width: 30px;
  display: block;
  float: right;
  margin-right: 24.3%;
}

.text-center {
  text-align: center;
}

/*Resume Styling*/

.css {
  color: rgb(2, 112, 187);
  font-size: 24px;
}

.html {
  color: rgb(229, 77, 38);
  font-size: 24px
}

.jQuery {
  color: rgb(7, 105, 173);
  font-size: 24px;
}

.React {
  color: rgb(74, 213, 255);
  font-size: 24px;
}

.jest {
  color: rgb(197, 60, 20);
  font-size: 24px;
  margin-bottom: 1.9%;
}

.objective {
  text-align: left;
  margin-left: 40%;
  line-height: 24px;
  font-size: 14px;
  padding: 16px;
  margin-bottom: 0;
  margin-top: 0;
}

.javascript {
  color: rgb(251, 214, 3);
  font-size: 24px;
}

.contactInfo {
  text-align: center;
}

.contactInfoDetails {
  margin: 2%;
  color: #CFD8DC;
}

.jobTitle {
  color: white;
  font-size: 16px;
}

.otherSkills {
  font-size: 20px;
  color: #CFD8DC;
  margin-bottom: 0;
  margin-top: 5%;
}

.leftFloat {
  float: left;
  width: 30%;
  height: 1267px;
}

.bash {
  font-size: 20px;
}

.myName {
  color: white;
  font-size: 54px;
  text-align: center;
  margin: 1% auto 1% auto;
}

.profileImage {
  height: 200px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.subTitles {
  color: white;
  font-size: 32;
  margin-top: 2%;
}

.sideSectionProfile {
  background-color: #37474F;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 8px;
  border-bottom: solid white 3px;
}

.sideSectionProfileSkills {
  border-bottom: solid white 3px;
  padding: 8px;
  margin-top: 0px;
  background-color: #37474F;
  text-align: center;
  width: 100%;
  height: auto;
}

span {
  color: white;
}

.wrapper {
  height: 1267px;
  width: 80%;
  border: solid black 1px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.mainSubTitles {
  display: inline-block;
  font-size: 32px;
  margin-left: 4%;
  font-family: helvetica;
  margin-bottom: 1px;
  margin-top: 0;
}

.mainSection {
  padding: 16px;
}

.listContainer {
  margin-left: 36%;
  list-style-type: circle;
}

.listContainer_education {
  margin-left: 36%;
  list-style-type: circle;
}

.description {
  padding: 16px;
  line-height: 24px;
  font-size: 14px;
  margin: 0;
}

.experience__SubTitle {
  font-size: 20px;
  font-style: bold;
  margin-bottom: 0;
  margin-top: 2%;
}

.education {
  padding: 0;
}

.education_containers {
  width: 50%;
  height: 100px;
  display: inline-block;
  margin-right: -26px;
}

.reference_one {
  width: 20%;
  display: inline-block;
  margin-left: 8%;
}

.reference_two {
  width: 20%;
  display: inline-block;
  margin-left: 0;
}

.reference_details {
  margin: 1%;
}

.portfolio {
  font-size: 24px;
  display: inline-block;
  margin-left: 12%;
  margin-top: 6%;
}
