* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.accordion {
  height: auto;
  transition: 0.6s;
}

.article {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /*margin-bottom: 2%;*/
  text-align: center;
  padding: 2em 0;
}

.project__Container:not(:last-child) {
  border-bottom: solid black 1px;
}

.seeMore {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  margin-top: 2%;
  margin-bottom: 10%;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 16px;
}

.hidden {
  overflow: hidden;
  height: 52px;
}

.hvr-grow {
  position: absolute;
  display: inline-block;
  /*vertical-align: middle;*/
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.homeButton {
  color: white;
  background-color: black;
  height: 100px;
  width: 100px;
  border: solid black 2px;
  border-radius: 100px;
  display: inline-block;
  position: fixed;
  margin-top: -10%;
  margin-left: 2%;
  text-decoration: none;
  padding-top: 2.5%;
  font-size: 24px;
}

.blogButton {
  color: white;
  background-color: black;
  height: 100px;
  width: 100px;
  border: solid black 2px;
  border-radius: 100px;
  display: inline-block;
  position: fixed;
  margin-top: -1%;
  margin-left: 2%;
  text-decoration: none;
  padding-top: 2.5%;
  font-size: 24px;
}

.projectsButton {
  color: white;
  background-color: black;
  height: 100px;
  width: 100px;
  border: solid black 2px;
  border-radius: 100px;
  display: inline-block;
  position: fixed;
  margin-top: 8%;
  margin-left: 2%;
  text-decoration: none;
  padding-top: 2.5%;
  font-size: 24px;
}

.resumeButton {
  color: white;
  background-color: black;
  height: 100px;
  width: 100px;
  border: solid black 2px;
  border-radius: 100px;
  display: inline-block;
  position: fixed;
  margin-top: 17%;
  margin-left: 2%;
  text-decoration: none;
  padding-top: 2.5%;
  font-size: 24px;
}

.mediumButton {
  height: 100px;
  width: 100px;
  border: solid black 2px;
  border-radius: 100px;
  display: inline-block;
  position: fixed;
  margin-top: 26%;
  margin-left: 2%;
}

.gitHubButton {
  height: 100px;
  width: 100px;
  border: solid black 2px;
  border-radius: 100px;
  display: inline-block;
  position: fixed;
  margin-top: 35%;
  margin-left: 2%;
}

.blog-Title {
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
  font-size: 40px;
}

.blog-Posts {
  color: blue;
  font-size: 24px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 5%;
}

.blogWrapper {
  padding: 6px;
  background-color: rgb(207, 216, 220);
  width: 50%;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  /*border: solid grey 1px;*/
}

.blog__inside--wrapper {
  border: solid white 3px;
}

.blog-Medium {
  text-align: center;
}

.contact {
  color: white;
  font-family: Impact, Charcoal, sans-serif;
  margin-bottom: 3%;
}

.email {
  font-size: 24px;
  color: white;
  margin-top: 3%;
}

.footer {
  bottom: 0;
  height: 100px;
  margin-bottom: 0;
  width: 100%;
  border-top: solid blue 2px;
  border-bottom: solid blue 2px;
  background-image: url("http://kingofwallpapers.com/code/code-010.jpg");
  margin-top: 5%;
}

.footer-Wrapper {
  margin-left: 2%;
  margin-top: 0;
  vertical-align: bottom;
  display: inline-block;
}

.header {
  /*background-image: url("http://kingofwallpapers.com/code/code-010.jpg");*/
  height: 200px;
}

.header-Title {
  color: #212121;
  font-family: Impact, Charcoal, sans-serif;
  margin: 0;
  font-size: 60px;
  line-height: 200px;
  width:  100%;
  height: 150px;
  text-align: center;
}

.nav {
  height: 60px;
}

.sideNav {
  width: 15%;
  float: left;
}

.nav__div--Buttons {
  margin-left: 0;
  width: 50%;
  text-align: center;
}

.nav-Buttons {
  font-family: bold, charcoal, sans-serif;
  color: white;
  display: inline-block;
  text-align: center;
  border-right: solid orange 1px;
  width: 120px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  margin-top: 115px;
}

.nav-Home {
  border-left: solid orange 1px;
}

.home-Bio {
  display: inline-block;
}

.home-Bio-Wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  text-align: center;
  margin-bottom: 5%;
  display: block;
  margin-top: 3%;
}

.project__Section {
  padding-bottom: 10em;
}

.projects-Description {
  text-align: center;
  /*display: inline-block;*/
  width: 60%;
  font-size: 18px;
  margin-left: 19%;
  margin-bottom: 1%;
}

.projects__page--Title {
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
  font-size: 50px;
}

.project-Title {
  color: blue;
  text-decoration: none;
  /*text-align: center;*/
  /*display: block;*/
  font-size: 34px;
}

.preview-Image {
  /*display: block;*/
  height: 300px;
  /*margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;*/
  transition: height 2s;
}

.preview-Clicked-Text {
  height: 40px;
  margin-bottom: 1%;
  color: #4CAF50;
  margin-top: 0;
  text-align: center;
  font-size: 24px;
}

.preview-Close-Button {
  border: none;
  color: grey;
  height: 30px;
  width: 30px;
  display: block;
  float: right;
  margin-right: 24.3%;
}

.text-center {
  text-align: center;
}

/*Resume Styling*/

.css {
  color: rgb(2, 112, 187);
  font-size: 24px;
}

.html {
  color: rgb(229, 77, 38);
  font-size: 24px
}

.jQuery {
  color: rgb(7, 105, 173);
  font-size: 24px;
}

.React {
  color: rgb(74, 213, 255);
  font-size: 24px;
}

.jest {
  color: rgb(197, 60, 20);
  font-size: 24px;
  margin-bottom: 1.9%;
}

.objective {
  text-align: left;
  margin-left: 40%;
  line-height: 24px;
  font-size: 14px;
  padding: 16px;
  margin-bottom: 0;
  margin-top: 0;
}

.javascript {
  color: rgb(251, 214, 3);
  font-size: 24px;
}

.contactInfo {
  text-align: center;
}

.contactInfoDetails {
  margin: 2%;
  color: #CFD8DC;
}

.jobTitle {
  color: white;
  font-size: 16px;
}

.otherSkills {
  font-size: 20px;
  color: #CFD8DC;
  margin-bottom: 0;
  margin-top: 5%;
}

.leftFloat {
  float: left;
  width: 30%;
  height: 1267px;
}

.bash {
  font-size: 20px;
}

.myName {
  color: white;
  font-size: 54px;
  text-align: center;
  margin: 1% auto 1% auto;
}

.profileImage {
  height: 200px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.subTitles {
  color: white;
  font-size: 32;
  margin-top: 2%;
}

.sideSectionProfile {
  background-color: #37474F;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 8px;
  border-bottom: solid white 3px;
}

.sideSectionProfileSkills {
  border-bottom: solid white 3px;
  padding: 8px;
  margin-top: 0px;
  background-color: #37474F;
  text-align: center;
  width: 100%;
  height: auto;
}

span {
  color: white;
}

.wrapper {
  height: 1267px;
  width: 80%;
  border: solid black 1px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.mainSubTitles {
  display: inline-block;
  font-size: 32px;
  margin-left: 4%;
  font-family: helvetica;
  margin-bottom: 1px;
  margin-top: 0;
}

.mainSection {
  padding: 16px;
}

.listContainer {
  margin-left: 36%;
  list-style-type: circle;
}

.listContainer_education {
  margin-left: 36%;
  list-style-type: circle;
}

.description {
  padding: 16px;
  line-height: 24px;
  font-size: 14px;
  margin: 0;
}

.experience__SubTitle {
  font-size: 20px;
  font-style: bold;
  margin-bottom: 0;
  margin-top: 2%;
}

.education {
  padding: 0;
}

.education_containers {
  width: 50%;
  height: 100px;
  display: inline-block;
  margin-right: -26px;
}

.reference_one {
  width: 20%;
  display: inline-block;
  margin-left: 8%;
}

.reference_two {
  width: 20%;
  display: inline-block;
  margin-left: 0;
}

.reference_details {
  margin: 1%;
}

.portfolio {
  font-size: 24px;
  display: inline-block;
  margin-left: 12%;
  margin-top: 6%;
}

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: blue;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
